*{
  margin:0;
  padding:0;
}


header {
  background-color: #f8b400;
  color: white;
  heigh: 100px:
}

header h1{
  text-align: center;
  font-size: 50px;
  
}
h1{
  margin-top: 10px:
}

nav ul li{
  display: inline;
  margin: 0 15px;

}
